



<footer class=" text-center text-black" style="background-color: rgb(172, 172, 172);" >
  <!-- Grid container -->
  <div class="container p-4 pb-0" style="background-color: rgb(172, 172, 172);">
    <!-- Section: Social media -->
    <section class="mb-4" style="background-color: rgb(172, 172, 172);">
    <h3 style="    margin-bottom: 14px;">Follow Me on</h3>

      <!-- Twitter -->
   <a class="footer-link" href="https://www.linkedin.com/in/raghav-patel-545969206" style="    padding-right: 8px;"><img src="https://brandlogos.net/wp-content/uploads/2016/06/linkedin-logo-512x512.png"width="50" height="50"></a>
  <a class="footer-link" href="https://twitter.com/PatelRaghav2202" style="    padding-right: 10px;"><img src="https://seeklogo.com/images/T/twitter-2012-positive-logo-916EDF1309-seeklogo.com.png"width="60" height="50"></a>
  <a class="footer-link" href="https://www.instagram.com/raghav_patel_2202?r=nametag" ><img src="https://seeklogo.com/images/I/instagram-logo-041EABACE1-seeklogo.com.png" width="50" height="50"></a>

      <!-- Github -->
    
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);   font-family: 'Montserrat', sans-serif;">
    © 2022 Made by ❤️ Raghav Patel
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>