<%- include("partials/header"); -%>
      <div class="heading">
            <h1>Compose Your Post</h3>
      </div>
      <form action="/compose" method="post">

            <input type="text" style="width: 80%; margin-left:10%" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" placeholder="Title Of Your Post" name="Title">
            <br>

            <textarea class="form-control" id="exampleFormControlTextarea1" style="width: 80%; margin-left:10%" rows="5"
                  placeholder="Description Of Your Post " name="Postbody"></textarea>
            <br>

            <button type="submit" class="btn btn-primary" style="margin-left:10%">Submit</button>
      </form>


      </body>

      </html>