<%- include("partials/header"); -%>

  <div class="heading">
    <h1>Contact</h3>
  </div>
  <div class="container-fluid new_blog content"
    style="font-family: 'Fira Sans', sans-serif;font-size:larger;font-weight: 500;">
    <p>Thanks for reaching us.pls fill below information. and write the topic of confusion so that we can assign the
      best suitable mentor to solve your cofusion.If you write DSA then we assing mantor to you who alredy done DSA.We
      try to reach you as soon as posible.Till then keep learning and keep exploring. </p>
  </div>


  <div class="containerforcontact" style="padding-top: 40px ; margin-bottom:20px; padding-bottom: 40px">

    <form action="/contact" method="POST" class="sign-up-form">
      <h2 class="title">Meet You Soon</h2>

      <div class="input-field" style="align-items: center; padding: left 20px;">
        <div>
          <i class="fa fa-phone-square"></i>
        </div>
        <input type="tel" placeholder="9876543210" pattern="[6-9]{1}[0-9]{9}" maxlength="10" name="phone" required />
      </div>
      <div class="input-field" style="align-items: center;">
        <div>
          <i class="fa fa-address-card"></i>
        </div>
        <input type="text" placeholder="topic(DSA/project/cp)" name="topic" required />

      </div>

      <!--<input type= "submit" class="btn" value="login" />-->
      <button type="submit" class="btn">SEND</button>

    </form>
  </div>


  </body>

  </html>