<%- include('partials/headerformainhome') %>


<div class="jumbotron centered" style=" margin-bottom: 0px; padding-bottom: 40px;padding-top:50px">
  <div class="container">

    <h1 class="display-3 title">ItAdda </h1>
<img src="coding.png" alt="" style=" width: 120px;">
    <p class="lead" style="font-family: 'Ubuntu', sans-serif;">Boost your coding journey,with guidance of ItAdda</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<div class="container2">
  
  <ul style="    padding-left: 30px;">
  <li>If you are new then register otherwise login with your registered email and password</li>
  <li>If you were missed the session Do not worry.</li>
  <li>we provide description of entire session.</li>
  <li>Also we provide resources link.</li>
</ul>  

</div>
<hr>

<%- include('partials/footerformainhome') %>
