<%- include("partials/header"); -%>

      <div class="heading">
            <h1>
                  <%=status%>
                        </h3>
      </div>
      <form action="/submit" method="POST" class="sign-up-form" style=" margin-left:10%;margin-top: 40px;">
            <div style="margin:auto ;">
                  <button type="submit" class="btn">Back to Home</button>
      </form>
      </div>

      </body>

      </html>