<%- include("partials/header"); -%>

<div class="heading">
      <h1>Subscribe</h3>
</div>
<div class="container-fluid new_blog content" style="font-family: 'Fira Sans', sans-serif;font-size:larger;font-weight: 500;">
<p>If you are subscribe than we will able to inform via your mail by which you loggedin. if any session or any important events will there , we  will mail you. Also we ansure you  that there is no spaming and no promotion.Till than keep learning and keep exploring.  </p>
</div>


 <div class="containerforcontact" style="padding-top: 40px ; margin: auto;padding-bottom: 40px">
  
      <form action="/subscribe" method="POST" class="sign-up-form">
            <h2 class="title">One step ahed to subscribe</h2>
            
            <div class="input-field" style="align-items: center; padding: left 20px;">
              <div>
              <i class="fa fa-universal-access"></i>
              </div>
              <input type="text" placeholder="Name"   name="Name" required/>
            </div>
            <div class="input-field" style="align-items: center;">
              <div>
              <i class="fa fa-university"></i>
               </div>
              <input type="text" placeholder="Ex: Nirma University" name="UniversityName" required/>
             
            </div>
             
           <!--<input type= "submit" class="btn" value="login" />--> 
            <button type="submit" class="btn">subscribe</button>
      
          </form>
      </div>


</body>
</html>